img {
    float:left;
    padding:1px;
    height:360px;
    width:540px;
}
.end {
    clear: both
}
h1 {
    color:red;
}
.fancy-header {
    color:purple;
    text-decoration: underline;
}
body style {
    margin-left: 150px;
}
.picture {
    margin-bottom:25px
}